@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Demi.eot');
    src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
        url('AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Demi.woff2') format('woff2'),
        url('AvenirNextCyr-Demi.woff') format('woff'),
        url('AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Avenir Next Cyr';
    padding: 20px;
    background-color: #343338; /* Color1: Black */
    color: white;
}

h1, h3, p {
    text-align: center;
}

/* Circular Profile Button */
.button.profile-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000; /* Color2: Grey */
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url('profile.png'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire background area */
    background-repeat: no-repeat; /* Prevent image from repeating */
}

/* Emergency Call Button */
.button.emergency-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000; /* Color2: Grey */
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url('emergency.png'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire background area */
    background-repeat: no-repeat; /* Prevent image from repeating */
}
.button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    background-color: #6E6C73;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Highlighted Elements */
.button.active {
    background-color: #000000; /* Active button background color */
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px; /* Add margin to separate content */
}

/* Dose and Appointment Elements */
.element {
background-color: #000000; /* Color1: Black */
color: white;
border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
cursor: pointer;
overflow: hidden;
transition: height 0.3s ease;
}

.element:hover {
    background-color: #222222; /* Darker color on hover */
}

.element .info {
    display: flex;
    align-items: center;
}

.element .name {
    flex: 3;
    text-align: left;
}

.element .time {
    text-align: right;
    vertical-align: top;
    margin-top: 5px;
}

.element .additional-info {
    display: none;
    margin-top: 10px;
}

.element.expanded .additional-info {
    display: block;
}

/* Swipe Animation */
.scroll-over {
    animation: scrollOver 0.5s;
}
@keyframes scrollOver {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}